<section class="ls section_padding_100">
    <div class="container">
        <div class="row topmargin_10">

            <div class="col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">

                <div class="entry-thumbnail item-media">
                    <img src="images/gallery/07.jpg" alt="">
                </div>

                <div class="with_border with_padding bottom-rounded bottommargin_60">

                    <article>


                        <div class="entry-content">

                            <header class="entry-header">

                                <h4 class="bottommargin_10 topmargin_0">
                                    <a href="blog-single-right.html">Laboris brisket shoulder beef</a>
                                </h4>
                                <span class="entry-author small-text">
                                    <i class="fa fa-user grey"></i>
                                    <span>Admin</span>
                                </span>
                                <span class="entry-date small-text">
                                    <i class="fa fa-calendar grey"></i>
                                    <time datetime="2016-09-03T15:05:23+00:00">06.05.2016</time>
                                </span>

                                <div class="muted_background post-adds">
                                    <a href="#" class="darkgrey_bg_color">
                                        <i class="fa fa-mail-forward"></i>
                                    </a>
                                    <a href="#" class="with_border">
                                        <i class="fa fa-heart highlight"></i>
                                    </a>

                                    <span class="item-likes">
                                        334 likes
                                    </span>

                                    <span class="views-count main_bg_color pull-right">
                                        <strong>23573</strong> views
                                    </span>

                                </div>

                            </header>
                            <!-- .entry-header -->
                            <p>
                                Labore pork belly laborum meatball pork in sint elit. Pork chop pig hamburger cow jowl exercitation fugiat pork belly aute prosciutto ut dolore. Ball tip cupidatat kevin incididunt ad, salami tempor fatback id exercitation pork belly aliqua. Rump prosciutto
                                swine anim proident kielbasa, capicola id aliquip in leberkas. Consequat ullamco kevin, tri-tip ucken tenderloin jerky anim pork nisi sunt pastrami shank ex.
                            </p>
                            <p class="bottommargin_0">
                                Ut veniam enim consectetur ipsum fugiat proident. Rump drumstick anim, pork short loin consectetur sunt short ribs kielbasa landjaeger cupim turkey. Landjaeger enim beye, frankfurter brisket pork loin nostrud esse. Frankfurter drumstick swine, culpa capicola
                                ne dolore kielbasa shoulder chicken porchetta.
                            </p>

                            <div class="row">
                                <div class="col-lg-10">
                                    <blockquote>
                                        <p class="grey bottommargin_0">
                                            Lorem ipsum amet consetetur sadipscing elised diam nonumy eirmod por invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At ro eos et accusam et justo.
                                        </p>
                                        <div class="text-right">
                                            <span class="highlight fontsize_14 text-uppercase vidaloka">Noah mcdaniel</span>
                                            <br>
                                            <span class="highlight2 fontsize_14 text-uppercase vidaloka">Politician</span>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>


                            <p>
                                Consequat dolor velit cow t-bone ea ipsum, sint shank eiusmod kevin. Magna spare ribs ground round dolore, ut tongue beef laboris doner. Culpa pork loin et beef. Minim leberkas ham id fatback tri-tip eu aliquip.
                            </p>
                            <ul class="list1">
                                <li class="highlight2">Praesent sapien massa, convallis a pellentesque nec.</li>
                                <li class="highlight2">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</li>
                                <li class="highlight2">Donec rutrum congue leo eget malesuada.</li>
                                <li class="highlight2">Pellentesque in ipsum id orci porta dapibus.</li>
                            </ul>
                            <p>
                                <img class="alignleft" alt="" src="images/side-image.jpg"> Short loin est voluptate excepteur pork risket jerky pariatur ribeye ham hock tback, fugiat illum non. Ribeye ham pancetta duis, aecat veniam frankfurter turkey kielbasa pastrami eu tri-tip. Andouille lorem t-bone, eu sciutto ex ball tip in
                                boudin dolor shoulder rump ankfurter strip.
                            </p>
                            <p>
                                T-bone cillum nostrud fugiat andouille. Turkey am pastrami boudin exercitation. Ut shoulder cepteur beef. Occaecat landjaeger qui, eatball minim short ribs est. Turkey klep pancetta incididunt agna tongue. Cupidatat jowl eu duis commodo spare ribs mollit
                                pork chop.
                            </p>
                            <p>
                                Ut duis turducken biltong et chicken, in sint porchetta fatback incididunt andouille olore. Ex tail umstick biltong. Mollit chuck sirloin doner, tenderloin leberkas capicola spare ribs. Andouille proident sint chuck, duis laboris kevin corned beef bresaola
                                tenderloin turkey t-bone id flank. Leberkas nulla pastrami in, turducken beef ribs ex esse.
                            </p>
                        </div>
                        <!-- .entry-content -->


                        <div class="author-meta side-item content-padding with_border topmargin_40">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="item-media">
                                        <img src="images/member_6.jpg" alt="">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="item-content">
                                        <h4 class="topmargin_0 bottommargin_15 highlight">Alejandro Zimmerman</h4>

                                        <p class="margin_0">In cillum eiusmod pancetta salami rump, officia rosciutto do nostrud hamburger id adipisicing sint dolore. Non dunt picanha occaecat.</p>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </article>


                 
                </div>

             

            </div>
            <!--eof .col-sm-8 (main content)-->
            <!-- sidebar -->
            <aside class="col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">

                <div class="widget widget_text">

                    <h3 class="widget-title text-center">Get In Touch</h3>
                    <div class="text-center">
                        <a href="#" class="social-icon big-icon color-bg-icon soc-twitter">
                            <span>34.5K</span>
                            <span>Friends</span>
                        </a>
                        <a href="#" class="social-icon big-icon color-bg-icon soc-facebook">
                            <span>3.2K</span>
                            <span>Follows</span>
                        </a>
                        <a href="#" class="social-icon big-icon color-bg-icon soc-google">
                            <span>15.7K</span>
                            <span>Friends</span>
                        </a>
                    </div>

                </div>

                <div class="widget widget_mailchimp">

                    <h3 class="widget-title text-center">Newsletter</h3>

                    <form class="signup form-inline" action="/" method="get">
                        <div class="form-group">
                            <input name="email" type="email" class="mailchimp_email form-control with-icon">
                        </div>
                        <button type="submit" class="fa fa-envelope form-button">
                            <span class="sr-only">Send</span>
                        </button>
                        <div class="response"></div>
                    </form>

                    <p class="bottommargin_0">
                        Subscribe to our Newsletter right now to be updated. We promice not to spam!
                    </p>

                </div>

                <div class="widget widget_flickr">

                    <h3 class="widget-title text-center">Flickr Widget</h3>
                    <ul id="flickr"></ul>
                </div>

                <div class="widget widget_categories">

                    <h3 class="widget-title text-center">Categories</h3>
                    <form class="signup form-inline" action="/" method="get">
                        <div class="form-group select-group">
                            <select aria-required="true" id="categories" name="category" class="choice">
                                <option value="" selected data-default>Select Category</option>
                                <option value="repair">Repair</option>
                                <option value="parts">Parts</option>
                                <option value="services">Services</option>
                                <option value="appliance">Appliance</option>
                                <option value="miscellaneous">Miscellaneous</option>
                            </select>
                            <i class="rt-icon2-chevron-down2 form-button highlight"></i>
                        </div>
                    </form>
                </div>

                <div class="widget widget_recent_entries">
                    <h3 class="widget-title text-center">Recent Posts</h3>
                    <ul>
                        <li class="media">
                            <a class="media-left" href="blog-single-right.html">
                                <img class="media-object" src="images/recent_post01.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h6>
                                    <a href="blog-single-right.html">Mollit pork est non spare ribs, cow nisi fatback</a>
                                </h6>
                                <span class="small-text">
                                    By Admin on
                                    <time datetime="2016-09-03T15:05:23+00:00">06.05.2016</time>
                                </span>
                            </div>
                        </li>
                        <li class="media">
                            <a class="media-left" href="blog-single-right.html">
                                <img class="media-object" src="images/recent_post02.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h6>
                                    <a href="blog-single-right.html">Eiusmod cupidatat t-bone porchetta</a>
                                </h6>
                                <span class="small-text">
                                    By Admin on
                                    <time datetime="2016-09-03T15:05:23+00:00">06.05.2016</time>
                                </span>
                            </div>
                        </li>
                        <li class="media">
                            <a class="media-left" href="blog-single-right.html">
                                <img class="media-object" src="images/recent_post03.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <h6>
                                    <a href="blog-single-right.html">Excepteur proident pork chop ipsum</a>
                                </h6>
                                <span class="small-text">
                                    By Admin on
                                    <time datetime="2016-09-03T15:05:23+00:00">06.05.2016</time>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="widget widget_archive">

                    <h3 class="widget-title text-center">Archive</h3>
                    <form class="signup form-inline" action="/" method="get">
                        <div class="form-group select-group">
                            <select aria-required="true" id="month" name="mounth" class="choice">
                                <option value="" selected data-default>Select Month</option>
                                <option value="january">January</option>
                                <option value="february">February</option>
                                <option value="march">March</option>
                                <option value="april">April</option>
                                <option value="may">May</option>
                                <option value="june">June</option>
                                <option value="july">July</option>
                                <option value="august">August</option>
                                <option value="september">September</option>
                                <option value="october">October</option>
                                <option value="november">November</option>
                                <option value="december">December</option>
                            </select>
                            <i class="rt-icon2-chevron-down2 form-button highlight"></i>
                        </div>
                    </form>
                </div>


            </aside>
            <!-- eof aside sidebar -->

        </div>
    </div>
</section>