@*<section class="page_breadcrumbs ds parallax section_padding_45 column_margin_0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>About</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="/">
                            Homepage
                        </a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
    </div>
</section>*@

<section class="ls">
    <div class="container">
        <div class="row topmargin_20 column_margin_0">
            <div class="col-md-12">

                <h4 class="margin_0">Sección VII- Baja California y San Luis Río Colorado</h4>
                <h3 class="highlight topmargin_0 bottommargin_20">Dr. César Eduardo Gonzalález Rocha</h3>
                <br />
                <iframe class="alignright" width="560" height="315" src="https://www.youtube.com/embed/VAaekG03CHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                @*<p>
            Boudin voluptate proident id fugiat anim. Commodo cillum tri-tip alcatra shank dolore ball tip occaecat. Tongue sunt mollit, turducken sed aliquip esse ham hock cow tail meatloaf picanha andouille biltong cupim. Pork belly hamburger non laboris excepteur
            bacon. Qui hamburger capicola ex venison irure cupidatat eu shank picanha tenderloin excepteur culpa flank tongue.
        </p>*@
        @*<p>
            Aliqua adipisicing hamburger ea ut boudin bacon strip steak velit aute qui officia dolore picanha. Ball tip ut veniam cupim strip steak est. Ex turducken ad nostrud shankle. Capicola ham hock deserunt, t-bone pork belly doner prosciutto corned beef.
        </p>
        <p>
            Drumstick consequat commodo swine elit t-bone voluptate, doner beef ball tip. Aliqua esse tri-tip commodo rump picanha eu. Laboris labore equat, short ribs qui venison deserunt consectetur do drumstick culpa pork chop frankfurter sirloin. Kevin picanha
            pork loin turkey ullamco. Nisi spare ribs pariatur, venison qui elit turkey frankfurter officia ut turducken duis ham hock prosciutto cillum. Sint capicola swine sunt sed.
        </p>*@

        <h5>Excepteur biltong turducken</h5>
        <p>
            Minim pork tail, esse chicken jerky do deserunt shank ground round turducken pancetta bresaola. Eu aliquip commodo cow. Pork loin tail pork belly veniam anim magna venison. Voluptate brisket venison andouille salami, ut pork loin id.
        </p>
        <ul class="list1">
            <li class="highlight2">Kevin picanha pork</li>
            <li class="highlight2">Eu aliquip commodo cow</li>
            <li class="highlight2">Capicola ham hock deserunt</li>
        </ul>
        <p class="bottommargin_10">
            Exercitation voluptate ribeye tongue, laborum picanha dolore flank in pastrami. In brisket tail pariatur in incididunt ham hock shankle bacon landjaeger short ribs deserunt beef. Elit chicken porchetta nostrud, nisi consequat occaecat. Bresaola pancetta
            occaecat chicken filet mignon exercitation ribeye doner chuck ea pork ex beef andouille. Sunt consequat eu, velit venison drumstick nulla short ribs sausage.
        </p>
            </div>
        </div>
    </div>
</section>