<section class="ls">
    <div class="container">
        <div class="row topmargin_20 column_margin_0">
            <div class="col-md-12">

                <h4 class="margin_0">Candidata a la gubernatura de B.C.</h4>
                <h3 class="highlight topmargin_0 bottommargin_20">Marina del Pilar</h3>
                <p class="bottommargin_30">
                    Marina del Pilar Ávila Olmeda (Mexicali, Baja California; 19 de octubre de 1985)1​ es una abogada y política mexicana afiliada al partido político Morena. Es diputada con licencia por el Distrito 2 de Baja California en la LXIV Legislatura de la Cámara de Diputados​ del Congreso de la Unión​ y actualmente presidenta municipal del municipio de Mexicali. El 12 de diciembre fue seleccionada por Morena como su candidata para la gubernatura de Baja California en las elecciones estatales de 2021.
                </p>


                <hr class="topmargin_40 bottommargin_50">

                <h3 class="bottommargin_20">Estudios</h3>
                <p>
                    Estudió la licenciatura en Derecho en el Centro de Enseñanza Técnica y Superior de 2004 a 20094​, posteriormente realizó dos maestrías, la primera en Derecho Público por la Escuela de Graduados en Gobierno y Política Pública del Instituto Tecnológico y de Estudios Superiores de Monterrey de 2010 a 20115​ y la segunda en Administración Pública por la Facultad de Ciencias Sociales y Políticas de la Universidad Autónoma de Baja California de 2014 a 2016.
                </p>
                @*<ul class="list1">
                        <li class="highlight2">Brisket non fatback, aliquip enim pastram</li>
                        <li class="highlight2">Fugiat duis ball tip leberkas</li>
                        <li class="highlight2">Pariatur commodo shankle shoulder</li>
                        <li class="highlight2">Anim pariatur doner minim tail chuck</li>
                    </ul>
                    <p>
                        Exercitation voluptate ribeye tongue, laborum picanha dolore flank in pastrami. In brisket tail pariatur in incididunt ham hock shankle bacon landjaeger short ribs deserunt beef. Elit chicken porchetta nostrud, nisi consequat occaecat. Bresaola pancetta
                        occaecat chicken filet mignon exercitation ribeye doner chuck ea pork ex beef andouille. Sunt consequat eu, velit venison drumstick nulla short ribs sausage.
                    </p>*@
                <hr class="topmargin_50 bottommargin_0">
            </div>
        </div>
    </div>
</section>

<section class="ls columns_padding_1 section_padding_top_60">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-sm-12 col-lg-push-3">
                <div class="vertical-item content-absolute text-center rounded ds countdown-block">
                    <div class="item-media">
                        <img src="~/Content/images/mansory03.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <div id="election-countdown"></div>
                        <h4 class="margin_0">Campaña electoral</h4>
                        <h5 class="topmargin_0 bottommargin_15">
                            Vota el
                            <span class="highlight">06 de Junio, 2021</span>
                        </h5>
                        <div class="media small-teaser inline-block">
                            <div class="media-left">
                                <i class="highlight fontsize_14"></i>
                            </div>
                            <div class="media-body small-text">
                                Candidata a Gobernadora de Baja California
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6 col-lg-pull-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory01.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#ApoyoTotal</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory04.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#UnidosConMarina</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6 col-lg-pull-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory02.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#Registro</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

            <div class="col-lg-3 col-sm-6">
                <div class="vertical-item content-absolute text-center rounded ds">
                    <div class="item-media">
                        <img src="~/Content/images/mansory05.jpg" alt="">
                    </div>
                    <div class="item-content darken_gradient">
                        <h6>
                            <a href="#">#TeamMarina</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- eof .col- -->

        </div>
    </div>
</section>
