<section class="section_padding_110 ls">
    <div class="container">
        <h3>Capacitaciones</h3>
        <hr />
        <br />
        <div class="row">
            <div class="col-md-12">
                <p>
                    La red<strong> Juventud Sindical</strong> pone a tu disposición las siguientes capacitaciones. Unidos nos capacitacmos.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <img src="~/Content/images/redcapacitacion.jpg" />

            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <div class="calendar">
                        <div class="calendar-header">
                            <div class="calendar-navigation text-center">
                                <a href="#" class="round_button prev pull-left">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <h4 class="inline-block margin_0">Capacitaciones para Abril del 2021</h4>
                                <a href="#" class="round_button next pull-right">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="week-days">
                            <div class="sunday">Sun</div>
                            <div class="monday">Mon</div>
                            <div class="tuesday">Tue</div>
                            <div class="wednesday">Wed</div>
                            <div class="thursday">Thu</div>
                            <div class="friday">Fri</div>
                            <div class="saturday">Sat</div>
                        </div>
                        <div class="month-box">
                            <div class="week-row">
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">29</span>
                                    <span class="day-events">Lorem ipsum dolor sit amet</span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">30</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">31</span>
                                    <span class="day-events">Adipisicing tail short loin</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">1</span>
                                    <span class="day-events">Culpa swine filet mignon cillum</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">2</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">3</span>
                                    <span class="day-events">Boudin meatball chuck cillum</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">4</span>
                                    <span class="day-events">Aliquip sed fatback dolore</span>
                                </div>
                            </div>
                            <div class="week-row">
                                <div class="day-cell">
                                    <span class="day-date">5</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">6</span>
                                    <span class="day-events">Landjaeger didunt laborum</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">7</span>
                                    <span class="day-events">Et doner pig aliqua bresaola</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">8</span>
                                    <span class="day-events">Meatball boudin ham shankle</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">9</span>
                                    <span class="day-events">Dolore labore rump ball tip</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">10</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">11</span>
                                    <span class="day-events"></span>
                                </div>
                            </div>
                            <div class="week-row selected-row">
                                <div class="day-cell">
                                    <span class="day-date">12</span>
                                    <span class="day-events">Esse pariatur commodo</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">13</span>
                                    <span class="day-events">Ut beef ribs pancetta</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">14</span>
                                    <span class="day-events">Sirloin tail ltong id pork chop</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">15</span>
                                    <span class="day-events">Venison in ut strip steak pork</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">16</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">17</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">18</span>
                                    <span class="day-events">Short loin cetta sunt lorem</span>
                                </div>
                            </div>
                            <!--                             <div class="events-list highlightlinks">
                            <a href="#">Event Title</a>
                        </div> -->
                            <div class="week-row">
                                <div class="day-cell">
                                    <span class="day-date">19</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">20</span>
                                    <span class="day-events">Quis nisi flank pig picanha</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">21</span>
                                    <span class="day-events">Salami pisicing tri-tip do dolore</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">22</span>
                                    <span class="day-events">Bresaola corned beef minim</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">23</span>
                                    <span class="day-events">Laboris sciutto turkey tongue</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">24</span>
                                    <span class="day-events">Eu commodo fugiat irure</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">25</span>
                                    <span class="day-events"></span>
                                </div>
                            </div>
                            <div class="week-row">
                                <div class="day-cell">
                                    <span class="day-date">26</span>
                                    <span class="day-events">Short ribs id qui eiusmod filet</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">27</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">28</span>
                                    <span class="day-events">Anim in spare ribs pariatur</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">29</span>
                                    <span class="day-events">Cupidatat lorem turkey enim nisi</span>
                                </div>
                                <div class="day-cell">
                                    <span class="day-date">30</span>
                                    <span class="day-events">Aute et ad huck tenderloin</span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">1</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">2</span>
                                    <span class="day-events">Doner capicola tempor nostrud</span>
                                </div>
                            </div>
                            <div class="week-row">
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">3</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">4</span>
                                    <span class="day-events">Occaecat duis drumstick</span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">5</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">6</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">7</span>
                                    <span class="day-events">Pork deserunt commodo pork</span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">8</span>
                                    <span class="day-events"></span>
                                </div>
                                <div class="day-cell not-cur-month">
                                    <span class="day-date">9</span>
                                    <span class="day-events">T-bone resaola ham salami</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
