<section class="">
    <div class="container">
        <h3>Capacitaciones</h3>
        <hr />
        <br />
        <div class="row">

            <div class="col-md-12">
                <p>
                    La red<strong> Juventud Sindical</strong> pone a tu disposición las siguientes capacitaciones. Unidos nos capacitacmos.
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="small-post widget widget_slider widget_featured with_padding after_cover darkgrey_bg rounded-bg ">
                    <!-- <div class="bg_overlay"></div> -->
                    <h4 class="topmargin_-5 inline-block light">Capacitaciones</h4>
                    <div class="owl-carousel" data-nav="true" data-loop="true" data-autoplay="false" data-items="1" data-margin="40" data-responsive-lg="1" data-responsive-md="1" data-responsive-sm="1" data-responsive-xs="1">
                        <div class="vertical-item bottommargin_15">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="media-left" href="blog-single-right.html">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured1.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">El futuro en el trabajo</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Por
                                            <a href="#" class="grey2">Blanca Aurora Zuñiga Ugalde</a> el 22 de Abril 2021
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured2.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Fake News/info virus</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Por
                                            <a href="#" class="grey2">Diana Zareth Orozco Rivera</a> el 06 de Mayo del 2021
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="vertical-item bottommargin_15">
                            <ul class="media-list">
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="media-left" href="#">
                                        <div class="after_cover">
                                            <img class="media-object rounded" src="~/Content/images/featured3.jpg" alt="">
                                        </div>
                                    </a>
                                    <div class="media-body">
                                        <p>
                                            <a href="#" class="light">Próximamente</a>
                                        </p>
                                        <p class="item-meta small-text grey2 margin_0">
                                            Espera nuestras próximas
                                            Capacitaciones
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">

                <img class="container-fluid img-responsive"  src="~/Content/images/redcapacitacion.jpg" />

            </div>
            <div class="col-md-6">

            </div>
        </div>
     
    </div>
</section>

<section class="ls page_portfolio section_padding_100">
    <div class="container">
        <h3>Capacitaciones</h3>
        <hr />
        <br />
        <div class="row">

            <div class="col-md-12">
                <p>
                    Capacitación a los integrantes de la red Juventud Sindical
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

                <div class="filters isotope_filters text-center">
                    <a href="#" data-filter="*" class="selected">Todos</a>
                    <a href="#" data-filter=".ensenada">Ensenada</a>
                    <a href="#" data-filter=".mexicali">Mexicali</a>
                    <a href="#" data-filter=".tijuana">Tijuana</a>
               
                </div>

                <div class="isotope_container isotope row masonry-layout" data-filters=".isotope_filters">

                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 ensenada">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/ENSENADA 1.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/01.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 ensenada">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/ENSENADA 2.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/ENSENADA 2.jpg"></a>

                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 ensenada">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/ENSENADA 3.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/ENSENADA 2.jpg"></a>

                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 ensenada">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/ENSENADA 4.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/ENSENADA 3.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 ensenada">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/ENSENADA 4.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/ENSENADA 4.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 mexicali">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/MEXICALI 1.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/MEXICALI 1.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 mexicali">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/MEXICALI 13.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/MEXICALI 13.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 mexicali">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/MEXICALI 6.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/MEXICALI 6.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 mexicali">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/MEXICALI 8.jpg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/MEXICALI 8.jpg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 tijuana">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/TIJUANA 1.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/TIJUANA 1.jpeg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 tijuana">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/TIJUANA 2.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/TIJUANA 2.jpeg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 tijuana">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/TIJUANA 3.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/TIJUANA 3.jpeg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item bottommargin_30 col-lg-4 col-md-6 col-sm-12 tijuana">
                        <div class="vertical-item gallery-item content-absolute text-center ds">
                            <div class="item-media">
                                <img src="~/Content/images/gallery/TIJUANA 2.jpeg" alt="">
                                <div class="media-links">
                                    <div class="links-wrap">
                                        <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="~/Content/images/gallery/TIJUANA 2.jpeg"></a>
                                        <a class="p-link" title="" href="gallery-single.html"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item-content">
                                <h5 class="item-meta ">
                                    <a href="gallery-single.html">Consetetur sadipscing elitr, sed diam nonumy</a>
                                </h5>
                            </div>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    </div>
</section>

