
@{
    ViewBag.Title = "index";
}

<section class="ls ms section_padding_top_100 section_padding_bottom_100">
    <div class="container">

        <div class="row">

            <form class="shop-register" role="form">

                <div class="col-sm-4">
                    <div class="form-group validate-required" id="billing_first_name_field">
                        <label for="billing_first_name" class="control-label">
                            <span class="grey">Nombre</span>
                            <span class="required">*</span>
                        </label>

                        <input type="text" class="form-control " name="billing_first_name" id="billing_first_name" placeholder="" value="">
                    </div>

                    <div class="form-group validate-required validate-phone" id="billing_phone_field">
                        <label for="billing_phone" class="control-label">
                            <span class="grey">Teléfono </span>
                            <span class="required">*</span>
                        </label>

                        <input type="text" class="form-control " name="billing_phone" id="billing_phone" placeholder="numero casa" value="">

                    </div>


                </div>

                <div class="col-sm-4">
                    <div class="form-group validate-required" id="billing_last_name_field">
                        <label for="billing_last_name" class="control-label">
                            <span class="grey">Apellido paterno </span>
                            <span class="required">*</span>
                        </label>

                        <input type="text" class="form-control " name="billing_last_name" id="billing_last_name" placeholder="" value="">

                    </div>

                    <div class="form-group validate-required validate-phone" id="billing_phone_field">
                        <label for="billing_phone" class="control-label">
                            <span class="grey">Teléfono Celular</span>
                        </label>

                        <input type="text" class="form-control " name="billing_phone" id="billing_phone" placeholder="numero celular" value="">

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group validate-required" id="billing_last_name_field">
                        <label for="billing_last_name" class="control-label">
                            <span class="grey">Apellido materno </span>
                        </label>

                        <input type="text" class="form-control " name="billing_last_name" id="billing_last_name" placeholder="" value="">

                    </div>

                    <div class="form-group validate-required validate-email" id="billing_email_field">
                        <label for="billing_email" class="control-label">
                            <span class="grey">Correo electrónico </span>
                            <span class="required">*</span>
                        </label>

                        <input type="text" class="form-control " name="billing_email" id="billing_email" placeholder="" value="">

                    </div>

                </div>



                <div class="col-sm-12">
                    <div class="form-group address-field validate-required" id="billing_address_fields">
                        <label for="billing_address_1" class="control-label">
                            <span class="grey">Dirección </span>
                            <span class="required">*</span>
                        </label>

                        <input type="text" class="form-control " name="billing_address_1" id="billing_address_1" placeholder="Número / Calle / Colonia / Codigo Postal" value="">

                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="form-group address-field validate-required validate-postcode" id="billing_postcode_field">
                        <label for="billing_postcode" class="control-label">
                            <span class="grey">RFC </span>
                        </label>

                        <input type="text" class="form-control " name="billing_postcode" id="billing_postcode" placeholder="clave RFC" value="">

                    </div>

                    <div class="form-group validate-required validate-phone" id="billing_phone_field">
                        <label for="billing_phone" class="control-label">
                            <span class="grey">Clave Electoral</span>
                        </label>

                        <input type="text" class="form-control " name="billing_phone" id="billing_phone" placeholder="" value="">

                    </div>

                    <div class="form-group address-field validate-required" id="billing_address_fields">
                        <label for="billing_address_1" class="control-label">
                            <span class="grey">Comentario</span>
                        </label>
                        <textarea rows="10" type="text" class="form-control " name="billing_address_1" id="billing_address_1" placeholder="Deja tu comentario y/o pregunta" value=""></textarea>
                    </div>

                    <div class="form-group">

                        <div class="radio">
                            <label>
                                <input type="radio"> Votaras por Marina?
                            </label>
                        </div>

                    </div>


                </div>



                <div class="col-sm-6">

                    <div class="form-group validate-required validate-fax" id="billing_fax_field">
                        <label for="billing_fax" class="control-label">
                            <span class="grey">CURP </span>
                        </label>

                        <input type="text" class="form-control " name="billing_fax" id="billing_fax" placeholder="clave curp" value="">

                    </div>
                </div>


                <div class="col-sm-12">

                    <button type="submit" class="theme_button wide_button color1">Registrase Ahora</button>
                    <button type="reset" class="theme_button wide_button">Limpiar Formulario</button>

                </div>

            </form>


        </div>
    </div>
</section>